<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Dziękujemy za oceny!</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <p>
      Mamy nadzieję, że odpowiadałeś zgodnie z własnymi odczuciami, a cały quiz dostarczył
      odrobinę rozrywki.
    </p>
    <p>
      Poniżej przedstawione są rankingi wykładowców skonstruowane na podstawie Twoich odpowiedzi, które przed
      chwilą wybrałeś, oraz odpowiedzi wszystkich osób, które oceniały tych samych nauczycieli.
    </p>
    <p>
      Twój ranking może nie być całkowicie zgodny z Twoimi oczekiwaniami, na przykład, jeśli wybierałeś sprzeczne
      odpowiedzi, zbyt często wybierałeś "remis", pomijałeś pary lub przerwałeś quiz przedwcześnie. Jeśli masz ochotę,
      możesz
      zawsze powtórzyć quiz.
    </p>

    <div class="md-block" ng-if=" !show">
      <em>
        Z Twoich odpowiedzi wynika, że najwyżej cenionym przez Ciebie wykładowcą jest
        <strong>{{localHighscore[0].name}}</strong>.
        Możesz napisać teraz, dlaczego właśnie ten wykładowca podoba Ci się najbardziej?</em>
      <md-input-container class="md-block">
        <textarea ng-model="data"></textarea>
      </md-input-container>
    </div>
  </md-card-content>
  <div layout="row" layout-xs="column">

    <md-card-actions ng-if="!show">
      <md-button class="md-raised" ng-click="sendData()">Wyślij opinię i pokaż ranking</md-button>
    </md-card-actions>
    <span flex></span>
    <md-card-actions>
      <md-button class="md-raised" ng-if="!show" ng-click="clickShow()">Pomiń opinię</md-button>
      <md-button class="md-raised" ng-click="homepage()">Strona Główna</md-button>
    </md-card-actions>
  </div>

</md-card>

<div layout="row" layout-xs="column" ng-if="show">
  <md-card flex="50" flex-xs="100" ng-if="localHighscore.length > 0">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Twój ranking</span>
        <p>na podstawie odpowiedzi udzielonych przed chwilą</p>
      </md-card-title-text>
    </md-card-title>
    <md-card-content layout="column">
      <md-list>
        <md-list-item ng-repeat="item in localHighscore" layout="column">
          {{item.name}}


          <md-progress-linear md-mode="determinate" value="{{item.percent}}">
          </md-progress-linear>
          <!--<span class="text-right"> - {{item.percent}}%</span>-->
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
  <md-card flex="50" flex-xs="100">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Ranking grupy dziekańskiej</span>
        <p>na podstawie wszystkich odpowiedzi</p>

      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <md-list>
        <md-list-item ng-repeat="item in globalHighscore" layout="column">
          {{item.name}}
          <md-progress-linear md-mode="determinate" value="{{item.percent}}">
          </md-progress-linear>
          <!--<span> - {{item.percent}}%</span>-->
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</div>
