<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Dziękujemy za oceny!</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <p>
      Mamy nadzieję, że odpowiadałeś zgodnie z własnymi odczuciami, a cały quiz dostarczył
      odrobinę rozrywki.
    </p>
    <p>
      Poniżej przedstawione są rankingi wykładowców skonstruowane na podstawie Twoich odpowiedzi, które przed
      chwilą wybrałeś, oraz odpowiedzi wszystkich osób, które oceniały tych samych nauczycieli.
    </p>
    <p>
      Twój ranking może nie być całkowicie zgodny z Twoimi oczekiwaniami, na przykład, jeśli wybierałeś sprzeczne
      odpowiedzi, zbyt często wybierałeś "remis", pomijałeś pary lub przerwałeś quiz przedwcześnie. Jeśli masz ochotę, możesz
      zawsze powtórzyć quiz.
    </p>
    <div>
      <md-button class="md-raised" ng-href="/">Strona Główna</md-button>
    </div>
  </md-card-content>
</md-card>
<div layout="row" layout-xs="column">
  <md-card flex="50" flex-xs="100" mg-if="localHighscore.length > 0">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Twój ranking</span>
        <p>na podstawie odpowiedzi udzielonych przed chwilą</p>
      </md-card-title-text>
    </md-card-title>
    <md-card-content layout="column">
      <md-list>
        <md-list-item ng-repeat="item in localHighscore">
          {{item.name}}
          <span class="text-right"> - {{item.percent}}%</span>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
  <md-card flex="50" flex-xs="100">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Ranking grupy dziekańskiej</span>
        <p>na podstawie wszystkich odpowiedzi</p>

      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <md-list>
        <md-list-item ng-repeat="item in globalHighscore">
          {{item.name}}
          <span> - {{item.percent}}%</span>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</div>
