<md-section>
  <md-card>
    <md-card-title>
      <md-card-title-text layout="row">
      <span class="md-headline">Którego z wykładowców lepiej oceniasz?
      </span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <md-progress-linear md-mode="determinate" value="{{getPercentages()}}"></md-progress-linear>
    </md-card-content>


    <md-card-actions layout="row" layout-xs="column" layout-align-xs="center stretch" layout-align="center center">
      <md-button ng-disabled="{{!locked}}" flex="100" class="md-raised md-warn" ng-click="castTheVote(0)">
        <span ng-bind="fight.alpha.name"></span>
      </md-button>
      <br/>
      <md-button flex="20" flex-xs="100" ng-disabled="{{!locked}}" class="md-raised" ng-click="castTheVote(1)">
        remis
      </md-button>
      <br/>
      <md-button ng-disabled="{{!locked}}" flex="100" class="md-raised md-warn" ng-click="castTheVote(2)">
        <span ng-bind="fight.beta.name"></span>
      </md-button>

    </md-card-actions>


    <md-card-actions layout="row" layout-xs="column" layout-align-xs="space-around stretch"
                     layout-align="center center">

      <md-button flex="50" flex-xs="100" md-no-ink class="md-raised"
                 ng-click="setNextPair()">
        <span>Pomiń tę parę</span>
      </md-button>
      <br/>
      <md-button flex="50" flex-xs="100" md-no-ink class="md-raised"
                 ng-click="goToHighscore()"> Zakończ i przejdź do
        wyników
      </md-button>
    </md-card-actions>

    <md-divider hide-xs></md-divider>
    <md-list hide-xs>
      <md-list-item layout="row" layout-align="center" ng-repeat="item in votedTutorsPairs">
        <md-button ng-disabled="true" flex="100"
                   class="{{ result(0, item.result) ? 'md-raised' : ''}}">
          <span ng-bind="item.fight.alpha.name"></span>
        </md-button>
        <br/>
        <md-button ng-disabled="true" flex="100"
                   class="{{ result(1, item.result) ? 'md-raised' : ''}}">
          remis
        </md-button>
        <br/>
        <md-button ng-disabled="true" flex="100"
                   class="{{ result(2, item.result) ? 'md-raised' : ''}}">
          <span ng-bind="item.fight.beta.name"></span>
        </md-button>
      </md-list-item>


      </md-list-item>
    </md-list>

    <md-card-content>

      <p>
        Kliknij na nazwisko wykładowcy którego lepiej oceniasz lub remis jeśli oceniasz ich podobnie. Kliknij pomiń parę
        jeśli nie masz opinii.
      </p>
      <p>
        Wszystkie pary są różne, wrażenie powtarzania się ich jest złudzeniem.
        Kolejność osób jest przypadkowa.
      </p>


    </md-card-content>
  </md-card>

</md-section>
