<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">



      <h3 class="text-center">Którego z wykładowców lepiej oceniasz?</h3>


      <div class="col-lg-12">


        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar"
               ng-style="{'width': getPercentages()}">
          </div>
        </div>
      </div>

      <div class="form-group col-lg-12 fx-fade-down" ng-if="!locked">
          <button type="button" ng-click="castTheVote(0)"
                  class="btn btn-lg col-lg-5 col-md-5 col-sm-5   btn-{{getStyle()}}">
            <span ng-bind="fight.alpha.name"></span>
          </button>
          <button type="button" ng-click="castTheVote(1)"
                  class="btn btn-default  col-lg-2 col-md-2  col-sm-2   btn-lg ">nie
            wiem
          </button>
          <button type="button" ng-click="castTheVote(2)"
                  ng-class=""
                  class="btn  btn-lg col-lg-5  col-md-5  col-sm-5 btn-{{getStyle()}}">
            <span ng-bind="fight.beta.name"></span>
          </button>


      </div>



      <div class="form-group col-lg-10 col-lg-offset-1
      col-md-10 col-md-offset-1
      col-sm-10 col-sm-offset-1
      col-xs-10 col-xs-offset-1 fx-fade-down
      " ng-repeat="item in votedTutorsPairs">

        <button type="button" disabled="disabled"
                ng-class="{'btn-success': result(0,item.result), 'btn-default': !result(0,item.result)}"
                class="btn btn-sm col-lg-5 col-md-5 col-sm-5  col-xs-5">
          <span ng-bind="item.fight.alpha.name"></span>
        </button>
        <button type="button" disabled="disabled"
                ng-class="{'btn-success': result(1,item.result),'btn-default': !result(1,item.result)}"
                class="  btn col-lg-2 col-md-2  col-sm-2 col-xs-2 btn-sm">nie
          wiem
        </button>
        <button type="button" disabled="disabled"
                ng-class="{'btn-success':result(2,item.result),'btn-default': !result(2,item.result)}"
                class="btn btn-sm col-lg-5  col-md-5  col-sm-5 col-xs-5 ">
          <span ng-bind="item.fight.beta.name"></span>
        </button>

      </div>


      <div class="row">

        <div class="col-lg-12">
          <p class="text-center">
            <a ng-click="goToHighscore()">Zakończ teraz</a>
          </p>

          <p class="lead text-center">
            Wszystkie pary są różne a wrażenie powtarzania się ich jest złudzeniem.
          </p>

          <p class="text-justify small">Kolejność osób jest przypadkowa. Kolory przycisków zmieniają się tylko po to, by
            łatwiej
            było zauważyć, że zmieniły się nazwiska - poza tym nie mają żadnego znaczenia.</p>
        </div>
      </div>


    </div>
  </div>
</div>

